@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.content-app {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
}